@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-amber-500 text-white font-semibold rounded-lg shadow-md hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-400 focus:ring-opacity-75;
  }
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-family: "Noto Sans KR", sans-serif;
}

#root {
  width: 1060px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
